if TARGET_CCIMX8MM_DVK

source "board/digi/common/Kconfig"

config SYS_BOARD
	default "ccimx8mm_dvk"

config SYS_VENDOR
	default "digi"

config SYS_CONFIG_NAME
	default "ccimx8mm_dvk"

config IMX_CONFIG
	default "arch/arm/mach-imx/imx8m/imximage-8mm-lpddr4.cfg"

endif
