// SPDX-License-Identifier: GPL-2.0+
/*
 * Copyright 2021-2025 Digi International Inc.
 */

/{
	bootcount {
		compatible = "u-boot,bootcount-rtc";
		rtc = <&mca_rtc>;
		offset = <0x00b0>;
	};

	aliases {
		usbgadget0 = &usbg1;
	};

	usbg1: usbg1 {
		compatible = "fsl,imx27-usb-gadget";
		dr_mode = "peripheral";
		chipidea,usb = <&usbotg1>;
		bootph-pre-ram;
		status = "okay";
	};

	firmware {
		optee {
    		compatible = "linaro,optee-tz";
    		method = "smc";
        };
    };
};

&{/soc@0} {
	bootph-pre-ram;
};

&clk {
	bootph-pre-ram;
	/delete-property/ assigned-clocks;
	/delete-property/ assigned-clock-parents;
	/delete-property/ assigned-clock-rates;
};

&osc_24m {
	bootph-pre-ram;
};

&aips1 {
	bootph-pre-ram;
};

&aips2 {

	bootph-pre-ram;
};

&aips3 {
	bootph-pre-ram;
};

&i2c1 {
	bootph-pre-ram;
};

&iomuxc {
	bootph-pre-ram;
};

&pinctrl_uart1 {
	bootph-some-ram;
	bootph-pre-ram;
};

&pinctrl_usdhc2_gpio {
	bootph-some-ram;
	bootph-pre-ram;
};

&pinctrl_usdhc2 {
	bootph-pre-ram;
};

&pinctrl_usdhc3 {
	bootph-pre-ram;
};

&pmic {
	bootph-some-ram;
	bootph-pre-ram;

	regulators {
		bootph-pre-ram;
	};
};

&gpio1 {
	bootph-some-ram;
	bootph-pre-ram;
};

&gpio2 {
	bootph-some-ram;
	bootph-pre-ram;
};

&gpio3 {
	bootph-some-ram;
	bootph-pre-ram;
};

&gpio4 {
	bootph-some-ram;
	bootph-pre-ram;
};

&gpio5 {
	bootph-some-ram;
	bootph-pre-ram;
};

&uart1 {
	bootph-some-ram;
	bootph-pre-ram;
};

&usdhc2 {
	bootph-pre-ram;
};
