CONFIG_ARM=y
CONFIG_TARGET_CCIMX6SBC=y
CONFIG_DM=y
CONFIG_IMX_HAB=y
CONFIG_SECURE_BOOT=y
CONFIG_SYS_EXTRA_OPTIONS="IMX_CONFIG=board/digi/ccimx6/ccimx6dl512MB.cfg,MX6DL,DDR_MB=512"
CONFIG_CMD_MEMTEST=y
CONFIG_DM_THERMAL=y
