if TARGET_CCMP15_DVK

source "board/digi/common/Kconfig"

config MCA
	bool
	default y

config SYS_BOARD
	default "ccmp15_dvk"

config SYS_VENDOR
	default "digi"

config SYS_CONFIG_NAME
	default "ccmp15_dvk"

endif
